body{
    font-family: Arial,sans-serif;
    margin: 0;
    display: flex;
    justify-content: centre;
    align-items: centre;
    height: 100vh;
}

.login-container{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #ccc;
    border-color: yellow;
    margin: auto;
    text-align: centre;
}

.login-container h2{
    color: green;
}

.form-group{
    margin-bottom: 15px;
 }
 
 label{
    display: block;
    margin-bottom: 5px;
 }
 input[type="text"],
 input[type="password"],
 button{
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #666;
    margin-bottom: 10px;

}
 button {
   width: 100%;
   padding: 8px;
   border-radius: 3px;
   border: 1px solid #ccc;
   background-color: rgba(255, 255, 0, 0.884);
   color: black; 
   cursor: pointer;
   margin-right: 4%;
 }
 button:last-child{
    margin-right: 0;
 }
button:hover{
    background-color: rgba(255, 255, 0, 0.849);
}



